@charset 'UTF-8';

.footer-pane {
    padding-bottom: 1em;
    //background: $bg--gray;

    .footer-link {
        padding: 0 1.5em;

        &.copyright {
            padding-right: 0;
            color: $primary-color;
            display: none !important;
        }
    }

    .footer-site-name {
        padding: 1em 0 1em;
        font-size: 14px;
        font-weight: bold;
        //text-transform: uppercase;
        text-shadow: 0 0 3px #000000;
    }
}

.footer,
.footer-pane, {
    height: 30px;
}
